# Loading XML Data
**Abid Ali**

Email: [abdsoftfsd@gmail.com](mailto:abdsoftfsd@gmail.com)

Skype: abd.soft

In [1]:
import xml.etree.ElementTree as ET

In [2]:
tree = ET.parse('datasets/housing.xml')

In [3]:
root = tree.getroot()

In [4]:
root.tag

'California_Housing_Data'

In [6]:
len(root.findall('row'))

20640

In [8]:
for node in root:
    longitude = node.find('longitude').text
    latitude = node.find('latitude').text
    housing_median_age = node.find('housing_median_age').text

    print('longitude: ', longitude)
    print('latitude: ', latitude)
    print('housing_median_age: ', housing_median_age)
    break

longitude:  -122.23
latitude:  37.88
housing_median_age:  41.0

In [25]:
import pandas as pd

col_names = [
    'longitude',
    'latitude',
    'housing_median_age',
    'total_rooms',
    'total_bedrooms',
    'population',
    'households',
    'median_income',
    'median_house_value',
    'ocean_proximity',
]
out_df = pd.DataFrame(columns=col_names)

In [26]:
out_df.head()

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, ocean_proximity]
Index: []

In [27]:
count = 1
for node in root:
    longitude = node.find('longitude').text
    latitude = node.find('latitude').text
    housing_median_age = node.find('housing_median_age').text
    total_rooms = node.find('total_rooms').text
    total_bedrooms = node.find('total_bedrooms').text
    population = node.find('population').text
    households = node.find('households').text
    median_income = node.find('median_income').text
    median_house_value = node.find('median_house_value').text
    ocean_proximity = node.find('ocean_proximity').text

    series = pd.Series([
        longitude, latitude, housing_median_age, total_rooms,
        total_bedrooms, population, households, median_income,
        median_house_value, ocean_proximity
    ], index=col_names)

    out_df = out_df.append(series, ignore_index=True)
    # count += 1
    # if count > 1000:
    #     break

In [28]:
out_df.head(10)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
5,-122.25,37.85,52.0,919.0,213.0,413.0,193.0,4.0368,269700.0,NEAR BAY
6,-122.25,37.84,52.0,2535.0,489.0,1094.0,514.0,3.6591,299200.0,NEAR BAY
7,-122.25,37.84,52.0,3104.0,687.0,1157.0,647.0,3.12,241400.0,NEAR BAY
8,-122.26,37.84,42.0,2555.0,665.0,1206.0,595.0,2.0804,226700.0,NEAR BAY
9,-122.25,37.84,52.0,3549.0,707.0,1551.0,714.0,3.6912,261100.0,NEAR BAY

In [29]:
out_df.shape

(20640, 10)

In [32]:
# to store the data in a csv file, user df.to_csv
# out_df.to_csv('datasets/housing_converted_1.csv', index=False)

 Volume in drive F is Mac Backup
 Volume Serial Number is 608D-3D23

 Directory of F:\learning\python\communicating-data-insights\datasets

22-Jun-19  01:41 PM    <DIR>          .
22-Jun-19  01:41 PM    <DIR>          ..
22-Jun-19  01:41 PM                86 app_info.csv
22-Jun-19  01:41 PM            18,131 auto-mpg.csv
22-Jun-19  01:41 PM            84,127 auto-mpg.json
22-Jun-19  01:41 PM               965 customer_details.csv
22-Jun-19  01:41 PM               282 customer_orders.csv
22-Jun-19  01:41 PM               386 flight_count.csv
22-Jun-19  01:41 PM             1,359 grand_canyon_visits.csv
22-Jun-19  01:41 PM         1,423,529 housing.csv
22-Jun-19  01:41 PM         9,108,334 housing.xml
22-Jun-19  01:41 PM         1,423,529 housing_converted.csv
22-Jun-19  01:41 PM            11,912 MPOB_data1.csv
22-Jun-19  01:41 PM             1,689 national_parks.csv
22-Jun-19  01:41 PM               379 products.csv
22-Jun-19  01:41 PM           139,080 stock_market.csv
22-Jun-19  01:41 PM           568,873 weight.json
11-Mar-23  05:33 PM         1,444,170 housing_converted_1.csv
              16 File(s)     14,226,831 bytes
               2 Dir(s)  17,908,236,288 bytes free